@media screen and (max-width: 480px) {
    .guria {
        display: none;
    }
    .guri {
        display: none;
    }
    body, html {
        background-color: white;
        margin: 4px;
    }

    .mensagem-home {
        font-size: 43px;
        font-weight: 600;
        margin-top: 70px;
    }

    .img-logo {
        width: 80%;
        height: 10%;
    }

    .campo {
        right: 25px;
    }

    .guria2 {
        display: none;
    }
}
