@media screen and (max-width: 480px) {
    .guria {
        display: none;
    }
    body, html {
        overflow-x: hidden !important;
        background-color: white;
        margin: 5px;
    }

    .mensagem-home {
        font-size: 42px;
        font-weight: 700;
        margin-top: 70px;
    }

    .img-logo {
        width: 80%;
        height: 10%;
    }
}