@media screen and (max-width: 480px) {
    .guria {
        display: none;
    }

    .mensagem-home {
        font-size: 42px;
        font-weight: bold;
        margin-top: 70px;
    }

    .img-logo {
        width: 80%;
        height: 10%;
        display: flex;
        position: relative;
        left: 90px;
    }
}